<div class="container">
  <h1>Mon profil</h1>
  <p>Bienvenue <%= current_user.first_name %></p>

  <div class="btn-green-flat">
<%= link_to "Create a player", new_player_path %>
  </div>

  <%#--------------------- Recruiting -------------------------------------------------------%>

  <h2>Players I recruited</h2>

  <div class="cards-dash">
    <% @my_bookings.each do |booking| %>
      <div class="card-product my-2">
        <% num = rand(1..5) %>
        <%= image_tag "player_0#{num}.jpg" %>
        <div class="card-product-infos">
          <h2><%= booking.player.name  %></h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
          <p>From: <%= booking.rent_start %> to <%= booking.rent_ending %> </p>
          <p>Status: <%= booking.status %> </p>
        </div>
      </div>
    <% end %>
  </div>
  <%#--------------------- Recruiting -------------------------------------------------------%>
  <%#--------------------- Created players -------------------------------------------------------%>
<hr class="my-5">

  <h2>My players</h2>


  <div class="my-player-card">


    <div class="card-info-dash">
      <% @my_players.each do |player| %>


      <div class="card-product my-2">
        <% num = rand(1..5) %>
        <%= image_tag "player_0#{num}.jpg" %>
        <div class="card-product-infos">
          <h2><%= player.name  %></h2>
          <p>Description:<%= player.description %> || Age: <%= player.age %> || Rating: <%= player.rating %></p>
          <p>Strong Foot: <%= player.strong_foot %> || Club: <%= player.club %> || </p>
          <h6>Price/day: <%= player.price %></h6>
        </div>
      </div>


        <div class="my-player-bookings ">
          <%player.bookings.each do |booking| %>
            <div class="my-player-booked border">
            <p>Booked By: <%= booking.user.email %></p>
              <p><%= booking.status %></p>
              <%= link_to "Accept", accept_path(booking), data: {turbo_method: :patch}, class:"btn btn-green-tiny" %>
              <%= link_to "Decline", decline_path(booking), data: {turbo_method: :patch}, class:"btn btn-grey-stroke"%>
              </div>
            <% end %>
          </div>
      </div>
    </div>
  <% end %>
  </div>
