


<%#--------------------- Banner -------------------------------------------------------%>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "banner_image.jpg"  %>);">
  <div class="container">
    <div class="text">
        <h1 class="mb-5">Top rating of the day</h1>
        <h4 class="mb-5">We celebrate Football at its finest.</h4>

        <%= form_with url: root_path, method: :get, class: "searchbar" do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search a player by name"%>
          <%= submit_tag "Search", class: "btn btn-success", style: "width: 200px"%>

        <% end %>
        <div class="btn-green-flat">
          <%= link_to "See all players", '#all-players', class: "text-btn-green-flat"%>
        </div>
    </div>
  </div>
</div>







<%#--------------------- Banner -------------------------------------------------------%>

<div class="container-body">
  <%#--------------------- Add 3 latest players -------------------------------------------------------%>

  <div class="title">
    <h2>Freshly added players</h2>
  </div>



  <div class="cards">


    <% @recent_players.each do |player| %>
        <div class="card-player">
          <% num = rand(1..5) %>
          <%= image_tag "player_0#{num}.jpg", class: 'image-player' %>


          <div class="card-player-info">
            <div>
              <h2><%= player.name %></h2>
              <p><%= player.description %></p>
            </div>

            <div class="card-player-price">
              <p><%= player.price %></p>
              <p><%= player.rating %></p>
            </div>
          </div>

          <%=link_to "Rent", player_path(player), class: 'btn btn-ghost' %>
        </div>
    <% end %>
  </div>


<hr>
  <%#--------------------- Add 3 latest players -------------------------------------------------------%>
  <%#--------------------- Filters -------------------------------------------------------%>

  <div class="title" id='all-players'>
    <h2>All players</h2>
    <p>Search by</p>
  </div>

  <div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')"> Show all</button>
    <button class="btn" onclick="filterSelection('age')"> Age</button>
    <button class="btn" onclick="filterSelection('rating')"> Rating</button>
    <button class="btn" onclick="filterSelection('strong foot')"> Strong foot</button>
    <button class="btn" onclick="filterSelection('position')"> Position</button>
    <button class="btn" onclick="filterSelection('club')"> Club</button>
  </div>

  <%#--------------------- Filters -------------------------------------------------------%>

  <%# ------------------------ cards ------------------------------------------------------------------%>


  <div class="cards">


    <% @players.each do |player| %>
        <div class="card-player">
          <% num = rand(1..5) %>
          <%= image_tag "player_0#{num}.jpg", class: 'image-player' %>


          <div class="card-player-info">
            <div>
              <h2><%= player.name %></h2>
              <p><%= player.description %></p>
            </div>

            <div class="card-player-price">
              <p><%= player.price %></p>
              <p><%= player.rating %></p>
            </div>
          </div>

          <%=link_to "Rent", player_path(player), class: 'btn btn-ghost' %>
        </div>
    <% end %>
  </div>

  <%# ------------------------ cards ------------------------------------------------------------------%>

</div>
