  <br>
  <br>
  <br>
  <div class="container">
  <h1>Player details</h1>
<div class = "container-fluid-show">


  <div class = "cardz col-4">
          <div class="cardz-player border">
           <% if @player.player_photo %>
            <%= image_tag @player.player_photo%>
              <% else %>
            <img src="https://tbtech.co/wp-content/uploads/2021/03/Boris-Paillard-200ppi-scaled.jpg" alt="">
          <% end %>
          </div>
          <div class="cardz-info xl-6">
            <div>
              <h2><%= @player.name %></h2>
            </div>
            <h2 class="cardsz-price"></h2>
            <h3><%= @player.rating %></h3>
          </div>
        </div>
    <div class="form-rent col-8">
        <%= simple_form_for [@player, @booking], data: { controller: 'flatpickr' } do |f| %>
          <%= f.input :rent_start, as: :string, input_html: { data: { flatpickr_target: "rentStart" }, class: 'shadow-effect' } %>
          <%= f.input :rent_ending, as: :string, input_html: { data: { flatpickr_target: "rentEnding" }, class: 'shadow-effect' } %>
          <%= f.submit 'Recruit your player for this period of time', class: 'btn btn-success shadow-effect' %>
      <% end %>
    </div>

</div>
</div>


<img class="football-field" src="https://images.unsplash.com/photo-1556056504-5c7696c4c28d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3257&q=80" alt="">
